{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('rate_password') }}" method=post>
      <dl>
        <dt>Username:
        <dd><input type=text size=30 name=username>
        <dt>Password:
        <dd><input type=password name=password>
        <dt>Results display mode:<select name=mode>
	<dd><option value=alpha>Show code & description</option>
	<dd><option value=code>Show code</option>
	<dd><option value=score>Show score</option>
	</select>
        <dd><input type=submit value=Rate>
      </dl>
    </form>
{% endblock %}
